$color-gray-dark: #5e6488;
$color-gray-light: #b4b4b4;
$color-gray-background: #f8f9ff;
$color-white: #fff;
$color-black: #03050f;
$color-cyan: #00f4e2;
$color-green: #00ff7f;
$half-input: 'half';
$full-input: 'full';
$box-shadow-form: 0 0 0 1px inset $color-gray-dark;

.hero-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 70px);
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 106px;
}

.hero-container__second-section {
  margin-left: 70px;
  width: 352px;

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

.hero-container__first-section {
  height: auto;
  width: 100%;
}

.hero-container__tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  background: linear-gradient(90deg, $color-cyan 0%, $color-green 100%);
  color: $color-black;
}

.hero-container--blur1 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.hero-container--blur2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero-container__mobile-img {
  display: none;
}

@media only screen and (max-width: 900px) {
  .hero-container {
    flex-direction: row-reverse;

    section {
      align-self: flex-start;
    }
  }

  .hero-container_mobile-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
  }

  .hero-container__first-section {
    display: none;
  }

  .hero-container__mobile-img {
    display: block;
    width: 156px;
    height: 150px;
  }

  .hero-container__second-section {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  .hero-container--blur1 {
    position: fixed;
  }

  .hero-container--blur2 {
    position: fixed;
  }
}